In [3]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [4]:
#convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [5]:
# convert lowercase column use apply()
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [6]:
# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [7]:
# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [8]:
df['Courses'] = df['Courses'].map(str.upper)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [12]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [13]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [14]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

In [23]:
# str.split()
df['Courses_split'] = df['Courses'].str.split()
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

In [24]:
# str.contains()
df['Contains_SP'] = df['Courses'].str.contains('SP')
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

In [25]:
# str.replace()
df['Duration_replace'] = df['Duration'].str.replace('days', '')
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace
0               30
1               50
2               40
3               60

In [26]:
# str.startswith()
df['Startswith_P'] = df['Courses'].str.startswith('P')
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace  Startswith_P
0               30         False
1               50          True
2               40         False
3               60          True

In [28]:
# str.endswith()
df['Endswith_KS'] = df['Courses'].str.endswith('KS')
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace  Startswith_P  Endswith_KS
0               30         False        False
1               50          True        False
2               40         False        False
3               60          True        False

In [31]:
# str.cat()
df['Concatenated'] = df['Courses'].str.cat(df['Duration'], sep='_')
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace  Startswith_P  Endswith_KS    Concatenated
0               30         False        False    SPARK_30days
1               50          True        False  PYSPARK_50days
2               40         False        False   HADOOP_40days
3               60          True        False   PANDAS_60days

In [32]:
# str.get()
df['First_letter'] = df['Courses'].str.get(0)
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace  Startswith_P  Endswith_KS    Concatenated First_letter
0               30         False        False    SPARK_30days            S
1               50          True        False  PYSPARK_50days            P
2               40         False        False   HADOOP_40days            H
3               60          True        False   PANDAS_60days            P

In [33]:
# str.get()
df['First_letter'] = df['Courses'].str.get(1)
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace  Startswith_P  Endswith_KS    Concatenated First_letter
0               30         False        False    SPARK_30days            P
1               50          True        False  PYSPARK_50days            Y
2               40         False        False   HADOOP_40days            A
3               60          True        False   PANDAS_60days            A

In [34]:
# str.slice()
df['Sliced'] = df['Courses'].str.slice(1, 3)
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace  Startswith_P  Endswith_KS    Concatenated First_letter  \
0               30         False        False    SPARK_30days            P
1               50          True        False  PYSPARK_50days            Y
2               40         False        False   HADOOP_40days            A
3               60          True        False   PANDAS_60days            A

  Sliced
0     PA
1     YS
2     AD
3     AN

In [35]:
# str.find()
df['Find_A'] = df['Courses'].str.find('A')
print(df)

   Courses    Fee Duration Discount Courses_split  Contains_SP  \
0    SPARK  22000   30days     1000       [SPARK]         True
1  PYSPARK  25000   50days     2300     [PYSPARK]         True
2   HADOOP  24000   40days     2500      [HADOOP]        False
3   PANDAS  26000   60days     1400      [PANDAS]        False

  Duration_replace  Startswith_P  Endswith_KS    Concatenated First_letter  \
0               30         False        False    SPARK_30days            P
1               50          True        False  PYSPARK_50days            Y
2               40         False        False   HADOOP_40days            A
3               60          True        False   PANDAS_60days            A

  Sliced  Find_A
0     PA       2
1     YS       4
2     AD       1
3     AN       1